{% load static %}
  <link rel="stylesheet" href="{% static 'login.css' %}">

  <div class="auth-container">
    <p>Haven't signed up yet?</p> 
    <a href="{% url 'signup' %}" class="signup-link">Register</a>

    <form method="POST" action="{% url 'login' %}" class="login-form">
        {% csrf_token %} 
        <label>Username:</label>
        <input type="text" name="username" class="input-field"/>
        
        <label>Enter password:</label>
        <input type="password" name="password" class="input-field"/>
        
        <input type="submit" value="Login" class="submit-btn"/>
    </form>

    <div class="messages">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
</div>
