{% extends 'main.html'%}
{% block content%}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'val.css' %} ">
</head>
<body>
   
    
    <form method="post" action="" class="validation-form">
        {% csrf_token %}
        <input type="text" name="code">
        <button type="submit">Check</button>
    
        {% if guest %}
        <div class="validation-message validation-success">
            Let {{guest.name}} in.
        </div>
        {% elif error_message %}
        <div class="validation-message validation-error">
            {{ error_message }}
        </div>
        {% endif %}
    </form>
    
    
     {%endblock%}
     
</body>
</html>